{% for link in site.author.links %}
  <li>
    <a href="{{ link.url }}" rel="nofollow noopener noreferrer me" itemprop="sameAs" style="{% if link.image %}display: flex; flex-direction: column; align-items: center; text-align: center;{% endif %}">
      {% if link.image %}
        <img src="{{ link.image }}" alt="{{ link.label }}" style="width: 80%; height: auto;">
      {% elsif link.icon %}
        <i class="{{ link.icon }}" aria-hidden="true"></i>
        <span class="label">{{ link.label }}</span>
      {% endif %}
    </a>
  </li>
{% endfor %}
